{{define "footer"}}

<footer id="footer" class="jumbotron-footer">
	<section class="container">
		<div class="row">
			<div class="col-md-5 col-md-push-1">
				<h3>Follow the newsletter <a href="https://www.facebook.com/swcraftnewsletter/">on Facebook</a></h3>
				<img src="images/twitter.png" class="img-small" style="vertical-align:middle">
				<img src="images/facebook.png" class="img-small">
				<h3>Share your articles on Twitter with hashtag <a href="https://twitter.com/search?q=%23softwarecraftsmanship">#softwarecraftsmanship</a></h3>
			</div>
			<div class="col-md-5 col-md-push-1">
				<h3><b>Feedback is welcome!</b></h3>
				<h3><a href="mailto:curator@softwarecraftsmanship.news">Get in touch</a> anytime to give me your feedback on how to improve
					this newsletter.</h3>
			</div>
		</div>
	</section>
</footer>

<p class="small text-muted text-center">A side project by: <a href="https://twitter.com/alebaffa">alebaffa</a></p>
<br>

<!-- Piwik -->
<script type="text/javascript">
    var _paq = _paq || [];
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
      _paq.push(['setTrackerUrl',  'https://api-587cfa5c964ba10879eebe3547c7e29f.oasis.sandstorm.io']);
      _paq.push(['setSiteId', 1]);
      _paq.push(['setApiToken', 'iDONxr3QuXvNa-_agwIpcH06-RZYwWiPCfNg6FIHV15']);
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
      g.type='text/javascript'; g.async=true; g.defer=true; g.src='https://64m3zxweygftdnlqz9wb.oasis.sandstorm.io/embed.js'; s.parentNode.insertBefore(g,s);
    })();
  </script>


<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="js/template.js"></script>

</body>

</html>

{{end}}