{{ define "homepage" }}

{{ template "header" .}}

<main class="content">
	<!-- Features -->
	<section class="container-fluid space-before">
		<div class="row featurelist space-after">
			<div class="col-md-5 col-sm-6 col-md-push-1 ">
				<img class="img-feature img-responsive" src="images/issue.png" alt="Sample image">
			</div>
			<div class="col-md-5 col-md-push-1 col-sm-6">
				<h2 class="space-before">A glimps of what you will receive. <span class="text-muted">Once per month.</span></h2>
				<p>From technical to the human aspects of software development. Be inspired from the stories and thoughts of fellow software
					craftsmen and craftswomen from around the world. Learn and discover by following the global discussion on how to craft
					software. </p>
			</div>
		</div>

		<div class="row featurelist space-after">
			<div class="col-md-5 col-sm-6 col-sm-push-6">
				<img class="img-feature img-responsive" src="images/socrates.jpg" alt="Sample image">
			</div>
			<div class="col-md-5 col-sm-6 col-md-pull-4 col-sm-pull-6">
				<h2 class="space-before">Join the International Software Craftsmanship Community</span>
				</h2>
				<p><a href="http://slack.softwarecraftsmanship.org/">Join this awesome community</a> of passionate people! Participate to
					and learn from their discussions and events. A truly friendly, open, welcoming and growing community of people who care
					about how to improve themselves and the world around them.</p>
			</div>
		</div>
	</section>
	<!-- /Features -->
</main>

{{template "issues"}}

{{template "contribute"}}

{{template "footer"}}

{{ end }}