{{define "issues"}}
	<footer id="footer" class="jumbotron-archive">
		<section class="container">
			<div class="row">
				<div class="col-md-8 col-md-push-1">
					<h3>Check out the latest issues:</span>
					</h3>
					<a href="http://eepurl.com/cbH2tz" class="btn btn-primary btn-sm">#16</a>
					<a href="http://eepurl.com/caRlUr" class="btn btn-primary btn-sm">#15</a>
					<a href="http://eepurl.com/b9y_pz" class="btn btn-primary btn-sm">#14</a>
					<a href="http://eepurl.com/b5ZQ8z" class="btn btn-primary btn-sm">#13</a>
					<a href="http://eepurl.com/b3UqTn" class="btn btn-primary btn-sm">#12</a>
					<a href="http://eepurl.com/b0gq3v" class="btn btn-primary btn-sm">#11</a>
					<a href="http://eepurl.com/bY_kWT" class="btn btn-primary btn-sm">#10</a>
					<a href="http://eepurl.com/bVHGzD" class="btn btn-primary btn-sm">#9</a>
					<a href="http://eepurl.com/bTdA_9" class="btn btn-primary btn-sm">#8</a>
					<a href="http://eepurl.com/bQM3Z5" class="btn btn-primary btn-sm">#7</a>
					<a href="http://eepurl.com/bNTGJ5" class="btn btn-primary btn-sm">#6</a>
					<a href="http://eepurl.com/bMBdtT" class="btn btn-primary btn-sm">#5</a>
					<a href="http://eepurl.com/bJZXG1" class="btn btn-primary btn-sm">#4</a>
					<a href="http://eepurl.com/bHHpFb" class="btn btn-primary btn-sm">#3</a>
					<a href="http://eepurl.com/bGYw91" class="btn btn-primary btn-sm">#2</a>
					<a href="http://eepurl.com/bGQmoT" class="btn btn-primary btn-sm">#1</a>
				</div>
			</div>
		</section>
	</footer>
{{end}}